{% extends 'base.html.twig' %}

    {% block body %}
        <section id="template-annonce" class="container">

        <h1>{{ annonce.titre }}</h1>
        <div class="divider"></div>
        <div class="row">

                <div class="col-lg-6">

                        <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                                <ol class="carousel-indicators">
                                        {% if annonce.image1 %}<li data-target="#myCarousel" data-slide-to="0" class="active"></li>{% endif %}
                                        {% if annonce.image2 %}<li data-target="#myCarousel" data-slide-to="1"></li>{% endif %}
                                        {% if annonce.image3 %}<li data-target="#myCarousel" data-slide-to="2"></li>{% endif %}
                                        {% if annonce.image4 %}<li data-target="#myCarousel" data-slide-to="3"></li>{% endif %}
                                        {% if annonce.image5 %}<li data-target="#myCarousel" data-slide-to="4"></li>{% endif %}
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                        {% if annonce.image1 %}
                                        <div class="carousel-item active">
                                                <img src="{{absolute_url(asset(annonce.image1))}}" alt="" style="height:400px">
                                        </div>
                                        {% endif %}
                                        {% if annonce.image2 %}
                                        <div class="carousel-item">
                                                <img src="{{absolute_url(asset(annonce.image2))}}" alt="" style="height:400px">
                                        </div>
                                        {% endif %}
                                        {% if annonce.image3 %}
                                        <div class="carousel-item">
                                                <img src="{{absolute_url(asset(annonce.image3))}}" alt="" style="height:400px">
                                        </div>
                                        {% endif %}
                                        {% if annonce.image4 %}
                                        <div class="carousel-item">
                                                <img src="{{absolute_url(asset(annonce.image4))}}" alt="" style="height:400px">
                                        </div>
                                        {% endif %}
                                        {% if annonce.image5 %}
                                        <div class="carousel-item">
                                                <img src="{{absolute_url(asset(annonce.image5))}}" alt="" style="height:400px">
                                        </div>
                                        {% endif %}     
                                </div>
                                <a class="carousel-control-prev" href="#myCarousel" data-slide="prev" role="button">
                                        <span class="fas fa-chevron-left fa-2x"></span>
                                </a>
                                <a class="carousel-control-next" href="#myCarousel" data-slide="next" role="button">
                                        <span class="fas fa-chevron-right fa-2x"></span>
                                </a>
                        </div>
                </div>
                <div class="col-lg-6">

                        <h3>description</h3>
                        <p>{{ annonce.description }}</p>
                        <h3>Equipement</h3>
                        <p>{{ annonce.equipement }}</p>
                </div>
        </div>

        <table class="table">
                <thead class="table">
                        <tr>
                                <th scope="col">Type</th>
                                <th scope="col">Surface</th>
                                <th scope="col">Disponibilité</th>
                                <th scope="col">Loyer</th>
                                <th scope="col">Charges</th>
                        </tr>
                </thead>
                <tbody>
                        <tr class="table-dark">
                                <td>{{ annonce.type }}</td>
                                <td>{{ annonce.surface }}</td>
                                <td>{{ annonce.disponibilite }}</td>
                                <td>{{ annonce.loyer }}/m</td>
                                <td>{{ annonce.charges }}/m</td>
                        </tr>
                </tbody>
        </table> 

        <div class="row justify-content-center bas">
            {# <div class="col-6">
                <figure>
                        <i class="fas fa-phone-square"></i>
                        <h3>Appelez-nous</h3>
                </figure>
            </div> #}
            <div class="col-6">
                <figure data-toggle="modal" data-target=".bd-example-modal-lg" style="cursor:pointer">
                        <i class="fas fa-envelope"></i>
                        <h3>Contactez-nous</h3>
                </figure>      
            </div>
        </div>
        </section>
        {# MODAL #}
            <div id="div-modal">
                <button id="btn-modal"type="button" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#ff8040">
                    <p style="color:white">
                        Confiez nous votre recherche
                    </p>
                    {# <img src="assets/img/votre-recherche.webp" alt=""> #}
                </button>
                <button id="collapse-modal" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
            </div>
            
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title title" id="exampleModalLabel">Confiez-nous votre recherche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                {{ form_start(formRecherche) }}
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.nom)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.societe)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.email)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.telephone)}}
                                    </div>
                                </div>
                                    {{form_row(formRecherche.message)}}
                                    {{form_row(formRecherche.demande, {"value": demandeContent, "attr": {"readonly" :  ""}} ) }}
                                <button type="submit" class="btn btn-large btn-success">Envoyer votre demande</button>
                                {{ form_end(formRecherche) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    {% endblock body %}
    {% block javascripts %}
    <script>
        modalPop();
    </script>
    {% endblock %}