{% extends 'base.html.twig' %}

{% block body %}

<section id="home">
    <div class="home-bg" style="border:1px solid black">
    </div>
    <div class="titre">
        <h1>JSI PARTNERS</h1>
        <strong>Cabinet conseil en immobilier</strong>
        <a class="btn btn-primary" href="{{ url("recherche") }}">Rechercher un bien<a>
    </div>
</section>

<div id="methodes">

    <section id="services">
        <h1>SERVICES
        <div class="divider"></div>
        </h1>

            <article class="card view view-first">
                <img src="{{ absolute_url(asset('assets/img/cahier.jpg')) }} " class="card-img-top" alt="">
                    <div class="mask mask-1"></div>
                    <div class="mask mask-2"></div>
                    <div class="content">
                        <h2 class="card-title">Jour J</h2>
                        <h2 class="card-title">Rencontre</h2>
                        <p class="card-text">
                            Prise de contact 
                            et analyse de votre cahier des charges
                        </p>
                    </div>
            </article>

            <article class="card view view-third">
                <img src="{{ absolute_url(asset('assets/img/selection.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">J + 1</h2>
                    <h2 class="card-title">Première sélection</h2>
                    <p class="card-text">
                        Sélection des biens adaptés à votre recherche
                    </p>
                </div>
            </article>

            <article class="card view view-fourth">
                <img src="{{ absolute_url(asset('assets/img/visite.jpg')) }} " class="card-img-top" alt=""></figure>
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">J + 3</h2>
                    <h2 class="card-title">Premières visites</h2>
                    <p class="card-text">
                        Organisation de visites puis de revisites sur les actifs retenus
                    </p>
                </div>
            </article>

            <article class="card view view-sixth">
            <img src="{{ absolute_url(asset('assets/img/shortlist.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">J + 3 a J + 30</h5>
                    <h2 class="card-title">Short list</h2>
                    <p class="card-text">
                        Identification de site / dossier de candidature
                    </p>
                </div>
            </article>

            <article class="card view view-seventh">
                <img src="{{ absolute_url(asset('assets/img/dossier.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">J + 30 a J + 45</h5>
                    <h2 class="card-title">Aide Juridique</h2>
                    <p class="card-text">
                        Négociation juridique et financière
                    </p>
                </div>
            </article>

            <article class="card view view-eighth">
                <img src="{{ absolute_url(asset('assets/img/contract.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">J + 45 a J + 50</h2>
                    <h2 class="card-title">Signature</h2>
                    <p class="card-text">
                        Accompagnement pour vos aménagements (space-planning et proposition de devis)
                    </p>
                </div>
            </article>
    </section>

    <div class="parallax parallax1"></div>

    <section id="commercialisation">
        <h1>COMMERCIALISATION
            <div class="divider"></div>
        </h1>
        
        <blockquote>De l'estimation de la valeur du bien, a la signature du contrat, JSI vous offre un service sur-mesure tout au long du processus de commercialisation :</blockquote>
            
            <article class="card view view-fourth">
                <img src="{{ absolute_url(asset('assets/img/localisation.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <p class="card-text">Visite de l’actif</p>
                </div>
            </article>

            <article class="card view view-tenth">
                <img src="{{ absolute_url(asset('assets/img/estimation.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <p class="card-text">Estimation de valeur par rapport aux dernières transactions réalisées</p>
                </div>
            </article>

            <article class="card view view-seventh">
                <img src="{{ absolute_url(asset('assets/img/strategie.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <p class="card-text">Rapport de commercialisation</p>
                </div>
            </article>

            <article class="card view view-tenth">
                <img src="{{ absolute_url(asset('assets/img/diffusion.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <p class="card-text">Communication</p>
                </div>
            </article>

            <article class="card view view-eighth">
                <img src="{{ absolute_url(asset('assets/img/target.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">Lorem ipsum dolor</h2>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </article>

            <article class="card view view-seventh">
                <img src="{{ absolute_url(asset('assets/img/assistance.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">Lorem ipsum dolor</h2>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </article>

            <article class="card view view-eighth">
                <img src="{{ absolute_url(asset('assets/img/negociation.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">Lorem ipsum dolor</h2>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </article>

            <article class="card view view-tenth">
                <img src="{{ absolute_url(asset('assets/img/juridique.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">Lorem ipsum dolor</h2>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                </div>
            </article>

            <article class="card view view-eighth">
                <img src="{{ absolute_url(asset('assets/img/checking.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">Lorem ipsum dolor</h2>
                    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis incidunt, numquam tempore magni ad repudiandae amet ea nemo perferendis culpa accusamus. Vitae eos et nisi quis deleniti veniam, nostrum ab.</p>
                </div>
            </article>
        
    </section>
</div>

<div class="parallax parallax2"></div>

    <section id="contact_home">

        <h1>Contactez-nous</h1>
        <div class="divider"></div>

            {{ form_start(formRecherche) }}
            {{ form_widget(formRecherche) }}
            <button type="submit" class="btn btn-large btn-info">Envoyer votre demande</button>
            {{ form_end(formRecherche) }}
            {{ messageRetour ?? "" }}
        
    </section>

{% endblock %}

{% block javascripts  %}

    <script>
        // Quand le top de mon élément est inférieur à la hauteur de mon écran alors je fade in

        var HomePage = {
        tabSections: [
            (section1 = {
            selecteur: "#services",
            elements: "#services .card",
            animationType: ["animated", "slideInLeft", "slow"]
            }),
            (section2 = {
            selecteur: "#commercialisation",
            elements: "#commercialisation .card",
            animationType: ["animated", "slideInRight", "slow"]
            })
        ],

        calculerHauteurTopFenetre: function(section) {
            let distanceTopFenetre = document
            .querySelector(section.selecteur)
            .getBoundingClientRect().top;

            return distanceTopFenetre;
        },

        mettreAnimation: function(section) {
            let elements = document.querySelectorAll(section.elements);
            let animations = section.animationType;
            let longueurTab = elements.length;
            let index = 0;

            var interval = setInterval(function() {
                console.log(elements[index])
                $(elements[index]).trigger('focus');
                index++;

                if (index == longueurTab) {
                    clearInterval(interval);
                }
            }, 600);
            HomePage.tabSections.splice(index, 1);
        }
        };

        // Je boucle sur le tableau, je teste si la position top de l'élèment est inférieur à la taille de la fenêtre :
        // Si oui je lance l'animation en prenant la propriété , puis je splice l'élément et je break
        // Si non je ne fais rien

        document.addEventListener("scroll", function() {
        HomePage.tabSections.forEach(function(section) {
            let hauteurFenetre = window.innerHeight;
            let distanceTopFenetreSection = HomePage.calculerHauteurTopFenetre(section);

            if (distanceTopFenetreSection < hauteurFenetre) {
            HomePage.mettreAnimation(section);
            }
        });
        });

 </script>

{% endblock %}

