{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
<section id="home">
    <h1>JSI PARTNERS</h1>
    <strong>Cabinet conseil en immobilier</strong>
    <a class="btn btn-primary" href="{{ url("recherche") }}">Rechercher un bien<a>
</section>

<div id="services">
    <h1>SERVICES</h1>
    <section id="etapes">
        <article class="card view view-first">
            <img src="{{ absolute_url(asset('assets/img/cahier.jpg')) }} " class="card-img-top" alt="">
                <div class="mask mask-1"></div>
                <div class="mask mask-2"></div>
                <div class="content">
                    <h2 class="card-title">Jour J</h2>
                    <h2 class="card-title">Rencontre</h2>
                    <p class="card-text">
                        Echange sur votre recherche</li>
                        Elaboration du cahier des charges</li>
                    </p>
                    
                </div>
           
        </article>
        <article class="card view view-third">
            <img src="{{ absolute_url(asset('assets/img/selection.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2 class="card-title">J + 1</h2>
                <h2 class="card-title">Première sélection</h2>
                <p class="card-text">
                    Envoi d'une première sélection de biens pouvant correspondre a vos besoins
                    Echanges autour de cette sélection
                </p>
            </div>
            
        </article>
        <article class="card view view-fourth">
            <img src="{{ absolute_url(asset('assets/img/visite.jpg')) }} " class="card-img-top" alt=""></figure>
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2 class="card-title">J + 3</h2>
                <h2 class="card-title">Premières visites</h2>
                <p class="card-text">
                    Organisation de votre première série de visites
                    Affinage de votre cahier des charges
                </p>
            </div>
        </article>
        <article class="card view view-sixth">
           <img src="{{ absolute_url(asset('assets/img/shortlist.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2 class="card-title">J + 3 a J + 30</h5>
                <h2 class="card-title">Short list</h2>
                <p class="card-text">
                    Organisation d'un nombre de série de visites suffisant, jusqu'a l'établissement d'une short qui vous convienne
                    Contre visite et simulation d'implantation
                </p>
            </div>
            
        </article>
        <article class="card view view-seventh">
            <img src="{{ absolute_url(asset('assets/img/dossier.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2 class="card-title">J + 30 a J + 45</h5>
                <h2 class="card-title">Dossier de candidature</h2>
                <p class="card-text">
                    Constitution et dépot du dossier de candidature
                    Mise en place d'une stratégie de négociation en fonction du propriétaire et de la concurrence éventuelle
                </p>
            </div>
            
        </article>
        <article class="card view view-eighth">
            <img src="{{ absolute_url(asset('assets/img/contract.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                <h2 class="card-title">J + 45 a J + 50</h2>
                <h2 class="card-title">Finalisation du dossier</h2>
                <p class="card-text">
                    Negociation
                    Signature de bail
                </p>
            </div>
            
        </article>
    </section>
    <div class="divider"></div>
    <h1>COMMERCIALISATION</h1>
    <blockquote>De l'estimation de la valeur du bien, a la signature du contrat, JSI vous offre un service sur-mesure tout au long du processus de commercialisation :</blockquote>
    <section id="commercialisation">
        
        <article class="card view view-eighth">
            <img src="{{ absolute_url(asset('assets/img/assistance.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-tenth">
            <img src="{{ absolute_url(asset('assets/img/assistance.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-eighth">
            <img src="{{ absolute_url(asset('assets/img/assistance.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-tenth">
            <img src="{{ absolute_url(asset('assets/img/juridique.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-eighth">
            <img src="{{ absolute_url(asset('assets/img/juridique.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-tenth">
            <img src="{{ absolute_url(asset('assets/img/juridique.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-eighth">
            <img src="{{ absolute_url(asset('assets/img/performance.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-tenth">
            <img src="{{ absolute_url(asset('assets/img/performance.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        <article class="card view view-eighth">
            <img src="{{ absolute_url(asset('assets/img/performance.jpg')) }} " class="card-img-top" alt="">
            <div class="mask mask-1"></div>
            <div class="mask mask-2"></div>
            <div class="content">
                
                <h2 class="card-title">Lorem ipsum dolor</h2>
                <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            
        </article>
        
        
        
    </section>
</div>
{% endblock %}
