{% extends 'base.html.twig' %}

    {% block body %}

        <section id="recherche">

        <p>Texte à mettre pour décrire la fonction du formulaire</p>

        <div class="container" style="width:80%; border:1px solid grey">
        <h1 style="text-align:center">Votre Recherche</h1>
        <div class="divider"></div>
            <form id="simulation">
                <hr>
                <label for="" style="display:block;border;text-align:center;font-size:1.2rem">Surface</label>
                
                <div class="row justify-content-center">
                    <div class="form-group col-md-4">
                        <input id="surfaceMin" type="text" class="form-control" placeholder="Minimum" pattern="[0-9]*" name="surfaceMin" required>
                    </div>
                    <div class="form-group col-md-4">
                        <input id="surfaceMax" type="text" class="form-control" placeholder="Maximum" pattern="[0-9]*" name="surfaceMax" required>
                    </div>
                </div>
                <hr>
                <label for="" style="display:block;border;text-align:center;font-size:1.2rem">Bureaux</label>
                
                <div class="row justify-content-center">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nb de bureaux" pattern="[0-9]*" id="nbBureaux" name="nbBureaux">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nb de personnes par bureau" pattern="[0-9]*">
                    </div>
                </div>
                <hr>
                <label for="" style="display:block;border;text-align:center;font-size:1.2rem">Open Space</label>
                
                <div class="row justify-content-center">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nb d'open space" pattern="[0-9]*" id="nbOpenSpace" name="nbOpenSpace">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nb de personnes par open space" pattern="[0-9]*">
                    </div>
                </div>
                <hr>
                <label for="" style="display:block;border;text-align:center;font-size:1.2rem">Salle de réunion</label>
                
                <div class="row justify-content-center">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nombre de salle de réunion" pattern="[0-9]*" id="nbSalleReunion" name="nbSalleReunion">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nb de personnes par salle de réunion" pattern="[0-9]*">
                    </div>
                </div>
                <hr>
                <label for="" style="display:block;border;text-align:center;font-size:1.2rem">Cuisine / Espace Détente</label>
                <div class="row justify-content-center">
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nombre de bureaux" pattern="[0-9]*" id="nbEspaceDetente" name="nbEspaceDetente">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" class="form-control" placeholder="Nombre de personnes par bureau" pattern="[0-9]*">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group">
                        <button type="submit" class="btn btn-large btn-success">Valider votre recherche</button>
                    </div>
                </div>
            
            </form>

        </div>

            
            {# MODAL #}
            <div id="div-modal">
                <button id="btn-modal"type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#ff8040">
                    <p style="color:white">
                        Confiez nous votre recherche
                    </p>
                    {# <img src="assets/img/votre-recherche.webp" alt=""> #}
                </button>
                <button id="collapse-modal" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
            </div>
            
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title title" id="exampleModalLabel">Confiez-nous votre recherche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                {{ form_start(formRecherche) }}
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.nom)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.societe)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.email)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.telephone)}}
                                    </div>
                                </div>
                                    {{form_row(formRecherche.message)}}
                                    {{form_row(formRecherche.demande, {"attr" : {"readonly" : ""}}) }}
                                <button type="submit" class="btn btn-large btn-success">Envoyer votre demande</button>
                                {{ form_end(formRecherche) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="divider"></div>

        </section>

        <section id="annonces">

            <h1 id="message">Les annonces correspondantes à votre recherche</h1>
            <p>Ce ne sont que quelques exemples de résultats, n'hésitez pas à remplir le formulaire personnalisé afin que l'on puisse travailler davanatage sur votre besoin</p>
            <div id="annonceList">

            </div>

        </section>

    {% endblock body %}
    {% block javascripts %}
    <script>
        var pathAjax = "{{absolute_url(path("ajax"))}}";
    </script>
    {% endblock javascripts %}