{% extends 'base.html.twig' %}

    {% block body %}

        <section id="recherche">
        
            <div class="row justify-content-around">

                <div class="col-lg-4 col-md-4 col-sm-4 ">

                <h4 class="title">Votre Simulation</h4>
                
                 <form id="simulation">
                <!-- Ligne Nb bureau -->
                <div class="row mt-2 justify-content-center">
                    <div class="form-group col-lg-4 col-md-4 col-sm-2">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0 mt-2">SURFACE</p>
                        </blockquote>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-3 d-flex align-items-center">
                        <input type="text" class="form-control" id="surfaceMin" name="surfaceMin" placeholder="Min" style="width:6rem">
                    </div>

                    <div class="form-group col-lg-3 col-md-3 col-sm-3 d-flex align-items-center">
                        <input type="text" class="form-control" id="surfaceMax" name="surfaceMax" placeholder="Max" style="width:6rem">
                    </div>
                <!-- FIN Ligne Surface -->
                </div>
                <!-- Ligne Nb bureau -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                        <input type="text" class="form-control" id="nbBureaux" name="nbBureaux" placeholder="Nb" style="width:6rem">
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0 mt-2">BUREAU</p>
                        </blockquote>
                    </div>
                
                    <blockquote class="blockquote text-center d-flex align-items-basline">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                        <select class="form-control" id="exampleSelect1" style="width:6rem">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>

                <!-- FIN Ligne Nb bureau -->
                </div>

                <!-- Ligne Nb OPEN SPACE -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    
                        <select class="form-control" id="nbOpenSpace" name="nbOpenSpace">
                        <option selected disabled value="0">Nb</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0 mt-2">OPEN SPACE</p>
                        </blockquote>
                    </div>

                    <blockquote class="blockquote text-center">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    <div class="form-group form-group-inline ">
                        <select class="form-control" id="exampleSelect1">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>
                    </div>

                <!-- FIN Ligne Nb OPEN SPACE -->
                </div>

                    <!-- Ligne Nb SALLE DE REUNION -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    
                        <select class="form-control" id="nbSalleReunion" name="nbSalleReunion">
                        <option selected disabled value="0">Nb</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0 mt-2">SALLE DE REUNION</p>
                        </blockquote>
                    </div>
                    <blockquote class="blockquote text-center">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    <div class="form-group form-group-inline ">
                        <select class="form-control" id="exampleSelect1">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>
                    </div>

                <!-- FIN Ligne Nb SALLE DE REUNION -->
                </div>

                <!-- Ligne Nb CUISINE / ESPACE DETENTE -->
                <div class="row mt-2 justify-content-center ">
                    <div class="form-group col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    
                        <select class="form-control" id="nbEspaceDetente" name="nbEspaceDetente">
                        <option selected disabled value="0">Nb</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-4">
                        <blockquote class="blockquote text-center">
                            <p class="mb-0 mt-2">CUISINE / ESPACE DETENTE</p>
                        </blockquote>
                    </div>

                    <blockquote class="blockquote text-center">
                    <p class="mb-0 mt-2">pour</p>
                    </blockquote>

                    <div class="form-group-inline col-lg-2 col-md-2 col-sm-2 d-flex align-items-center">
                    <div class="form-group form-group-inline ">
                        <select class="form-control" id="exampleSelect1">
                            <option selected disabled >Pers.</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        
                    </div>
                    </div>

                <!-- FIN Ligne Nb CUISINE / ESPACE DETENTE -->
                </div>

                    <div class="loading"></div>
                    <div class="error-message"></div>
                    <div class="sent-message mt-4"></div>
                   
                    <div class="form-send ">
                        <button type="submit" class="btn btn-large btn-success">Valider votre recherche</button>
                    </div>
                    </form> 
                
                </div>
            </div>
            {# MODAL #}
            <div id="div-modal">
                <button id="btn-modal"type="button" class="btn" data-toggle="modal" data-target=".bd-example-modal-lg" style="background-color:#ff8040">
                    <p style="color:white">
                        Confiez nous votre recherche
                    </p>
                    {# <img src="assets/img/votre-recherche.webp" alt=""> #}
                </button>
                <button id="collapse-modal" class="btn btn-secondary"><i class="fas fa-chevron-left"></i></button>
            </div>
            
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title title" id="exampleModalLabel">Confiez-nous votre recherche</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                {{ form_start(formRecherche) }}
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.nom)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.societe)}}
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.email)}}
                                    </div>
                                    <div class="col-sm-6">
                                        {{form_row(formRecherche.telephone)}}
                                    </div>
                                </div>
                                    {{form_row(formRecherche.message)}}
                                    {{form_row(formRecherche.demande)}}
                                <button type="submit" class="btn btn-large btn-success">Envoyer votre demande</button>
                                {{ form_end(formRecherche) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="divider"></div>

        </section>

        <section id="annonces">

            <h1 id="message">Les annonces correspondantes à votre recherche</h1>
            <div id="annonceList">

            </div>

        </section>

    {% endblock body %}
    {% block javascripts %}
    <script>
        var pathAjax = "{{absolute_url(path("ajax"))}}";
    </script>
    {% endblock javascripts %}