{{ form_start(form) }}
<div class="row">
    <div class="col-lg-4">
        {{ form_row(form.titre) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.type) }}
    </div>
    <div class="col-lg-4">
        {{ form_row(form.lieu) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.description, { "attr": { "style" : "height:10rem" }}) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.equipement, { "attr": { "style" : "height:10rem" }}) }}
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.loyer) }}
        {{ form_row(form.charges) }}
    </div>
    <div class="col-lg-6" style="display:flex; flex-direction:column; align-items:center">
        {{ form_row(form.disponibilite) }}
        {{ form_row(form.accueil) }}
    </div>
</div>
<h3>Infos-simulateur</h3>
<hr>
<div class="row" style="display:flex; justify-content:space-around">
    <div class="col-lg-2">
        {{ form_row(form.surface) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.bureaux) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.openSpace) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.salleReunion) }}
    </div>
    <div class="col-lg-2">
        {{ form_row(form.espaceDetente) }}
    </div>
</div>
<hr>
<div class="row" style="display:flex; justify-content:space-around">
    <div class="col-lg-8">
        {{ form_row(form.note, { "attr": { "style" : "height:10rem" }}) }}
    </div>
</div>

<div id="hidden-row" style="display:none">
    {{ form_row(form.image1) }}
    {{ form_row(form.image1Upload) }}
    {{ form_row(form.image2) }}
    {{ form_row(form.image2Upload) }}
    {{ form_row(form.image3) }}
    {{ form_row(form.image3Upload) }}
    {{ form_row(form.image4) }}
    {{ form_row(form.image4Upload) }}
    {{ form_row(form.image5) }}
    {{ form_row(form.image5Upload) }}
</div>

<h3>Images</h3>
<hr>
<div style="display:flex; justify-content:space-around; flex-wrap:wrap">
{% for i in 1..5 %}
{% set image =  annonce.getImagei(i) %}
    <div id="image{{i}}" style="padding:20px; border: solid 1px lightgrey; width:240px; margin-bottom:20px">
        <div style="width:200px;height:200px;overflow:hidden">
        {% if image %}
                <img src="{{ absolute_url(asset(image)) }}" style="width:200px;border:solid 1px lightgrey" alt="">
        {% else %}
                <img src="{{ absolute_url(asset("assets/img/no-image-icon.jpg")) }}" style="width:200px;border:solid 1px lightgrey">
        {% endif %}
        </div>
        <div style="width:200px; text-align:center;">    
            <p style="height:20px; margin-top:10px"></p>
        </div>
        <div style="width:200px; text-align:center">
            <button class="btn btn-primary edit">{{upload}}</button>
            <button class="btn btn-danger delete">Supprimer</button>
            <script>
                document.querySelector('#image{{i}} .edit').addEventListener('click', function(e){
                    e.preventDefault();
                    document.querySelector('#annonce_image{{i}}Upload').click();
                });
                document.querySelector('#annonce_image{{i}}Upload').addEventListener('change',function(e){
                    document.querySelector('#image{{i}} p').textContent = document.querySelector('#annonce_image{{i}}Upload').files[0].name;
                    var file = document.querySelector('#annonce_image{{i}}Upload').files[0];
                    var reader = new FileReader();
                    reader.onload = function(e) {
                                document.querySelector('#image{{i}} img').setAttribute('src', e.target.result);
                                };
                    reader.readAsDataURL(file);
                    }
                );
                document.querySelector('#image{{i}} .delete').addEventListener('click',function(e){
                    e.preventDefault();
                    document.querySelector('input#annonce_image{{i}}').value = "";
                    document.querySelector('#image{{i}} img').setAttribute('src', "{{ absolute_url(asset('assets/img/no-image-icon.jpg')) }}");
                    document.querySelector('#image{{i}} p').textContent = "";
                    document.querySelector('#annonce_image{{i}}Upload').value= "";
                });

            </script>
        </div>
    </div>
{% endfor %}
</div>

<button class="btn btn-success">Sauvegarder</button>
<a class="btn btn-primary" href="{{ path('annonce_index') }}">Retour</a> 

{{ form_end(form) }}














