{% extends 'base.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Equipement</th>
                <th>Images</th>
                <th>Type</th>
                <th>Lieu</th>
                <th>Surface</th>
                <th>Loyer</th>
                <th>Charges</th>
                <th>Disponibilite</th>
                <th>Bureaux</th>
                <th>OpenSpace</th>
                <th>SalleReunion</th>
                <th>EspaceDetente</th>
                <th>Accueil</th>
                <th>DateCreation</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.equipement }}</td>
                <td>{{ annonce.images ? annonce.images|join(', ') : '' }}</td>
                <td>{{ annonce.type }}</td>
                <td>{{ annonce.lieu }}</td>
                <td>{{ annonce.surface }}</td>
                <td>{{ annonce.loyer }}</td>
                <td>{{ annonce.charges }}</td>
                <td>{{ annonce.disponibilite }}</td>
                <td>{{ annonce.bureaux }}</td>
                <td>{{ annonce.openSpace }}</td>
                <td>{{ annonce.salleReunion }}</td>
                <td>{{ annonce.espaceDetente }}</td>
                <td>{{ annonce.accueil }}</td>
                <td>{{ annonce.dateCreation ? annonce.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ annonce.note }}</td>
                <td>
                    <a href="{{ path('annonce_show', {'id': annonce.id}) }}">show</a>
                    <a href="{{ path('annonce_edit', {'id': annonce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="19">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('annonce_new') }}">Create new</a>
{% endblock %}
